:root {
  --hns-h1: #373038;
  --hns-h2: #DF8600;
  --hns-h3: #07873B;
  --hns-h4: #164192;
  --hns-h5: #6D3599;
  --hns-h6: #EF637F;
}

.hns-header {
  position: relative;
  outline: dashed 1px rgb(185, 185, 185);
  border-radius: 4px;
}

.hns-H1 {
  background-color: var(--hns-h1) !important;
}

.hns-H2 {
  background-color: var(--hns-h2) !important;
}

.hns-H3 {
  background-color: var(--hns-h3) !important;
}

.hns-H4 {
  background-color: var(--hns-h4) !important;
}

.hns-H5 {
  background-color: var(--hns-h5) !important;
}

.hns-H6 {
  background-color: var(--hns-h6) !important;
}

h1.hns-header,
h2.hns-header,
h3.hns-header,
h4.hns-header,
h5.hns-header,
h6.hns-header {
  color: white !important;
  overflow: visible !important;
}

.hns-hBox {
  position: absolute;
  top: -22px;
  left: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 20px;
  border: 1px solid rgba(185, 185, 185, 0.8);
  border-radius: 4px;
  color: white;
  font: 400 14px/1 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  visibility: hidden;
}

.hns-show {
  visibility: visible;
}

.hns-hidden {
  visibility: hidden;
}