@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(chrome-extension://ejfiaoeiobkomkbleaeennikedehldai/fonts/Inter-Regular.ttf)
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(chrome-extension://ejfiaoeiobkomkbleaeennikedehldai/fonts/Inter-SemiBold.ttf)
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: url(chrome-extension://ejfiaoeiobkomkbleaeennikedehldai/fonts/Inter-Italic.ttf)
}