@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  src: url(chrome-extension://pedafehbhogfhapneoajihlnipkfdjmh/fonts/NotoSans-Regular.ttf)
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  src: url(chrome-extension://pedafehbhogfhapneoajihlnipkfdjmh/fonts/NotoSans-SemiBold.ttf)
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 400;
  src: url(chrome-extension://pedafehbhogfhapneoajihlnipkfdjmh/fonts/NotoSans-Italic.ttf)
}