:root {
  --body-bg: #F4F4F4;
  --box-bg: #FFFFFF;
  --ok-blue: #0C8CE9;
  --ok-light-blue: #52aef0;
  --dark-grey: #191919;
  --mid-grey: #676767;
  --light-grey: #D2D2D2;
  --warning: #DF4B1C;
  --h1: #373038;
  --h2: #DF8600;
  --h3: #07873B;
  --h4: #164192;
  --h5: #6D3599;
  --h6: #EF637F;
}

* {
  margin: 0;
  box-sizing: content-box;
}

body {
  width: 500px;
  background-color: var(--body-bg);
  padding: 4px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: flex;
  color: var(--dark-grey);
  flex-direction: column;
  gap: 4px;
}

h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--mid-grey);
  text-transform: uppercase;
  user-select: none;
}

.box {
  background-color: var(--box-bg);
  padding: 12px 8px;
  border-radius: 4px;
  display: flex;
}

.settings {
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 6px 8px;
}

.title-warning {
  color: var(--warning);
  font-style: italic;
  user-select: none;
}

.headers {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headers .row {
  display: flex;
  min-height: 22px;
  width: 100%;
}

.headers .pagetitle {
  gap: 4px;
  margin-bottom: 4px;
}

.headerBox {
  padding: 0 8px 0 4px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
}

.hb-H1:hover {
  background-color: var(--h1);
  color: var(--box-bg);
}

.hb-H2:hover {
  background-color: var(--h2);
  color: var(--box-bg);
}

.hb-H3:hover {
  background-color: var(--h3);
  color: var(--box-bg);
}

.hb-H4:hover {
  background-color: var(--h4);
  color: var(--box-bg);
}

.hb-H5:hover {
  background-color: var(--h5);
  color: var(--box-bg);
}

.hb-H6:hover {
  background-color: var(--h6);
  color: var(--box-bg);
}

.empty-tag {
  color: var(--light-grey);
  font-style: italic;
  user-select: none;
}

.indentation {
  display: flex;
}

.dot-spacer {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--light-grey);
  margin: 10px 8px 10px 0;
}

.gap-warning {
  background-color: var(--warning);
  border-radius: 0;
}

.summary {
  gap: 12px;
}

.hn-box {
  min-width: 24px;
  height: 24px;
  border-radius: 4px;
  color: var(--box-bg);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#headersList .hn-box {
  cursor: pointer;
}

#headersList .hn-box:hover {
  background-color: var(--ok-blue);
}

#headersList .hn-box:hover span {
  display: none;
}

#headersList .hn-box:hover:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNsaXBib2FyZC1jb3B5Ij48cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI0IiB4PSI4IiB5PSIyIiByeD0iMSIgcnk9IjEiLz48cGF0aCBkPSJNOCA0SDZhMiAyIDAgMCAwLTIgMnYxNGEyIDIgMCAwIDAgMiAyaDEyYTIgMiAwIDAgMCAyLTJ2LTIiLz48cGF0aCBkPSJNMTYgNGgyYTIgMiAwIDAgMSAyIDJ2NCIvPjxwYXRoIGQ9Ik0yMSAxNEgxMSIvPjxwYXRoIGQ9Im0xNSAxMC00IDQgNCA0Ii8+PC9zdmc+);
  width: 16px;
  height: 16px;
}

#headersList .hn-box.copied:hover:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNsaXBib2FyZC1jaGVjayI+PHJlY3Qgd2lkdGg9IjgiIGhlaWdodD0iNCIgeD0iOCIgeT0iMiIgcng9IjEiIHJ5PSIxIi8+PHBhdGggZD0iTTE2IDRoMmEyIDIgMCAwIDEgMiAydjE0YTIgMiAwIDAgMS0yIDJINmEyIDIgMCAwIDEtMi0yVjZhMiAyIDAgMCAxIDItMmgyIi8+PHBhdGggZD0ibTkgMTQgMiAyIDQtNCIvPjwvc3ZnPg==);
  width: 16px;
  height: 16px;
}

.hn-sum {
  margin-top: 4px;
  text-align: center;
}

.total-box {
  margin-left: 12px;
}

.total-box .hn-box {
  color: var(--dark-grey);
}

.h1-box {
  background-color: var(--h1);
}

.h2-box {
  background-color: var(--h2);
}

.h3-box {
  background-color: var(--h3);
}

.h4-box {
  background-color: var(--h4);
}

.h5-box {
  background-color: var(--h5);
}

.h6-box {
  background-color: var(--h6);
}

/* Toggle buttons */

.toggle {
  user-select: none;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  top: 1px;
  width: 24px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mid-grey);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: var(--body-bg);
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--ok-blue);
}

input:checked+.slider:before {
  transform: translateX(10px);
}

.slider.round {
  border-radius: 60px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Export buttons */

#copyButton::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxOTE5MTkiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNsaXBib2FyZC1saXN0Ij48cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI0IiB4PSI4IiB5PSIyIiByeD0iMSIgcnk9IjEiLz48cGF0aCBkPSJNMTYgNGgyYTIgMiAwIDAgMSAyIDJ2MTRhMiAyIDAgMCAxLTIgMkg2YTIgMiAwIDAgMS0yLTJWNmEyIDIgMCAwIDEgMi0yaDIiLz48cGF0aCBkPSJNMTIgMTFoNCIvPjxwYXRoIGQ9Ik0xMiAxNmg0Ii8+PHBhdGggZD0iTTggMTFoLjAxIi8+PHBhdGggZD0iTTggMTZoLjAxIi8+PC9zdmc+);
  margin-right: 4px;
}

#copyButton.copied:hover::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtY2xpcGJvYXJkLWNoZWNrIj48cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI0IiB4PSI4IiB5PSIyIiByeD0iMSIgcnk9IjEiLz48cGF0aCBkPSJNMTYgNGgyYTIgMiAwIDAgMSAyIDJ2MTRhMiAyIDAgMCAxLTIgMkg2YTIgMiAwIDAgMS0yLTJWNmEyIDIgMCAwIDEgMi0yaDIiLz48cGF0aCBkPSJtOSAxNCAyIDIgNC00Ii8+PC9zdmc+);
}

#csvButton::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxOTE5MTkiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWZpbGUtZG93biI+PHBhdGggZD0iTTE1IDJINmEyIDIgMCAwIDAtMiAydjE2YTIgMiAwIDAgMCAyIDJoMTJhMiAyIDAgMCAwIDItMlY3WiIvPjxwYXRoIGQ9Ik0xNCAydjRhMiAyIDAgMCAwIDIgMmg0Ii8+PHBhdGggZD0iTTEyIDE4di02Ii8+PHBhdGggZD0ibTkgMTUgMyAzIDMtMyIvPjwvc3ZnPg==);
  margin-right: 4px;
}

#csvButton.copied:hover::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtZG93bmxvYWQiPjxwYXRoIGQ9Ik0yMSAxNXY0YTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0ydi00Ii8+PHBvbHlsaW5lIHBvaW50cz0iNyAxMCAxMiAxNSAxNyAxMCIvPjxsaW5lIHgxPSIxMiIgeDI9IjEyIiB5MT0iMTUiIHkyPSIzIi8+PC9zdmc+);
  margin-right: 4px;
}

.button {
  text-align: center;
  text-decoration: none;
  color: var(--dark-grey);
  border: 1px solid var(--mid-grey);
  padding: 4px 12px 1px;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.button span {
  position: relative;
  top: -2px;
}

.button:hover {
  border: 1px solid var(--ok-blue);
  background-color: var(--ok-blue);
  color: var(--box-bg);
}

#csvButton:hover::before,
#copyButton:hover::before {
  filter: invert(1);
}

.button.disabled {
  pointer-events: none;
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mid-grey);
  font-size: 11px;
}

.buymeacoffee {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buymeacoffee span {
  width: 190px;
  user-select: none;
}

.buymeacoffee a {
  display: flex;
  align-items: center;
}

.buymeacoffee img {
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid var(--mid-grey);
  background-color: var(--box-bg);
}

.buymeacoffee img:hover {
  border: 1px solid var(--ok-blue);
  background-color: var(--ok-blue);
}

.signature {
  display: flex;
  flex-direction: column;
}

.signature #title {
  font-size: 13px;
  color: var(--ok-blue);
  font-weight: 600;
}

/* Visual feedback animations */
@keyframes flash {
  0% {
    background-color: var(--ok-blue);
    outline: 1px dashed var(--dark-grey);
  }

  100% {
    background-color: var(--body-bg);
    outline: 2px dashed var(--ok-blue);
  }
}

.button.copied {
  animation: flash 0.3s ease-in-out;
}

.hn-box.copied {
  animation: flash 0.3s ease-in-out;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--light-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--ok-blue);
  border-radius: 8px;
  border: 1px solid var(--light-grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ok-light-blue);
}