:root {
  --body-bg: #F4F4F4;
  --box-bg: #FFFFFF;
  --ok-blue: #0C8CE9;
  --dark-grey: #191919;
  --mid-grey: #676767;
  --light-grey: #D2D2D2;
  --h1: #373038;
  --h2: #DF8600;
  --h3: #07873B;
  --h4: #164192;
  --h5: #6D3599;
  --h6: #EF637F;
}

* {
  margin: 0;
  box-sizing: content-box;


}

body {
  width: 500px;
  background-color: var(--body-bg);
  border: 2px solid var(--ok-blue);
  padding: 8px 4px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: flex;
  color: var(--dark-grey);
  flex-direction: column;
  gap: 8px;
}

h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--mid-grey);
  text-transform: uppercase;
  user-select: none;
}

.box {
  background-color: var(--box-bg);
  padding: 12px 8px;
  border-radius: 4px;
  display: flex;
}

.settings {
  flex-direction: row;
  gap: 24px;
}

.headers .row {
  display: flex;
}

.headers .pagetitle {
  gap: 4px;
  margin-bottom: 4px;
}

.summary {
  gap: 12px;
}

.hn-box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: var(--box-bg);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  user-select: none;
}

.hn-sum {
  text-align: center;
}

.total-box {
  margin-left: 12px;
}

.total-box .hn-box {
  color: var(--dark-grey);
}

.h1-box {
  background-color: var(--h1);
}

.h2-box {
  background-color: var(--h2);
}

.h3-box {
  background-color: var(--h3);
}

.h4-box {
  background-color: var(--h4);
}

.h5-box {
  background-color: var(--h5);
}

.h6-box {
  background-color: var(--h6);
}

/* Toggle buttons */

.toggle {
  user-select: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mid-grey);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: var(--body-bg);
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--ok-blue);
}

input:checked+.slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 60px;
}

.slider.round:before {
  border-radius: 50%;
}